header {
    background: #212121;
    height: 5vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1%;
    padding-left: 1%;
}

.logo {
    width: 50%;
}

.search {
    width: 50%;
    border: none;
    display: inline-flex;
}

.search:hover {
    background: rgb(98, 0, 173);
    border-radius: 16px;
    border-bottom-left-radius: 0;
}

.search input {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 0.1vw solid white;
    font-size: 1.5vw;
    color: white;
}

.search input:focus {
    font-size: 1vw;
    color: white;
}

.search span {
    background: white;
    border-radius: 0.3vw 0.3vw 1vw 0vw;
    padding: 0.3vw;
    font-size: 2vw;
    font-weight: bold;
    color: #212121;
    cursor: pointer;
}

.search span:hover {
    background: rgb(98, 0, 173);
    color: white;
    border: 0.1vw solid white;
    border-left: none;
    border-top: none;
}

.search span:active {
    color: rgb(0, 0, 0);
    background: white;
    border: none;
}

.profile {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.profile button {
    background: transparent;
    border: none;
    color: white;
    font-size: 3vw;
    cursor: pointer;
}

.profile .money:hover {
    color: orange;
}

.profile button:hover {
    color: rgb(0, 255, 255);
    font-size: 3.5vw;
}