footer {
    position: static;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #212121;
    display: flex;
    justify-content: left;
    align-items: center;
}

.footerContainers {
    margin-left: 10px;
    margin-right: 10px;
}

div.footerContainers:hover span {
    color: cornflowerblue;
    cursor: pointer;
}

div.footerContainers:active span {
    color: aqua;
}